* {
    margin: 0;
    padding: 0;
    font-family:"monospace";
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg, rgb(46, 46, 221), green);
    padding: 10px;
}

.todo-app {
    width:100%;
    max-width: 540px;
    background: whitesmoke;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px ;
}

.todo-app h2 {
    color: black ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
width: 70px;
margin-left: 10px;
}